-
  classes = {}
  classes[state] = true

li(class="job" classes=classes id="job-#{id}" key=id data-id=id)
  h3.id #{queue} #{q_id}
  span.data= dataFormattedForDisplay()
  div.label

  nav.actions
    button.icon.promote @
    button.icon.delete Â