-
  classes = {}
  classes[state] = true

li.job(classes=classes id="job-#{id}" key=id data-id=id)
  h3.id #{queue} #{q_id}
  span.data= dataFormattedForDisplay()
  span.stacktrace #{stacktrace}
  div.label

  nav.actions
    button.icon.promote @
    button.icon.delete Â

  figure.progress(styles={width: "calc(#{progress}% - 11px)"})
    figcaption #{progress}%