dl.totals
  dt.active active:
  dd.active= totals.active
  dt.wait wait:
  dd.wait= totals.wait
  dt.completed completed:
  dd.completed= totals.completed
  dt.delayed delayed:
  dd.delayed= totals.delayed
  dt.failed failed:
  dd.failed= totals.failed
